; vim: set fileencoding=utf-8 :
; Andre Anjos <andre.anjos@idiap.ch>
; Mon 16 Apr 08:29:18 2012 CEST

[buildout]
parts = external tests sphinx python
develop = .
index = http://d.pypi.python.org/simple
versions = versions

;You are not obliged to set the version of Bob to use. However, note that
;buildout in this case will choose the default version installed looking at the
;current sys.path settings. Also note that your current 'eggs' directory may
;not take precedence over that.
eggs = bob==master
       bob.db.replay

[versions]
;If you would like to pin-down the recipes package version so you are not
;bothered with eventual updates, do it here. Note that, by pinning the version
;of the package, you will be also excluded from bug fixes.
;bob.buildout.recipes = 0.1

[external]
recipe = bob.buildout.recipes:external
egg-directories = /Users/andre/work/bob-master/build/lib

[tests]
recipe = bob.buildout.recipes:nose
eggs = ${buildout:eggs}
script = tests.py

[sphinx]
recipe = bob.buildout.recipes:sphinx
eggs = ${buildout:eggs}
source = ${buildout:directory}/docs
build = ${buildout:directory}/sphinx

[python]
;Swap recipes to get a full blown python interpreter at the cost of a slightly
;slower installation procedure.
;recipe = z3c.recipe.scripts
recipe = zc.recipe.egg
eggs = ${buildout:eggs}
interpreter = python
dependent-scripts = true
